* {
    transition-property: none;
    transition-duration: 0s !important;
}

body.ready, body.ready * {
    transition-duration: 0.2s !important;
}

[v-cloak] {
    display: none;
}

html, body {
    min-height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-property: background, color, opacity;
}

main {
    transition-property: opacity;
}

section {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
}

section.active {
    opacity: 1;
    z-index: 1;
}

header {
    display: flex;
    align-items: stretch;
    vertical-align: middle;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3rem;
    padding: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

header .icon {
    font-size: 1.5rem;
}

header a {
    color: inherit;
}

header > * {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    vertical-align: middle;
    border-bottom: 0.2rem solid transparent;
    transition-property: all;
    outline: none;
}

main {
    flex-grow: 1;
    overflow: auto;
}

.small-text {
    font-size: 0.8em;
    opacity: 0.5;
}

button.round {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

button, input, textarea, select {
    color: inherit;
    outline: none;
}

.checkable {
    display: block;
    padding: 0 !important;
}

.checkable::before {
    color: inherit !important;
    background-color: currentColor;
}

.checkable::before, .checkable::after {
    left: unset !important;
    right: 0;
}

.hidden {
    display: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    vertical-align: text-top;
    stroke: currentColor;
    fill: currentColor;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 101vh) {
    #timer {
        flex-direction: row;
    }
}

#timer .countdown-display, .countdown-buttons {
    /* max-width: 56rem; */
    /* margin: 0 auto; */
    padding: 1rem;
}

#timer .countdown-display {
    position: relative;
    align-self: stretch;
    flex-grow: 2;
}

#timer .countdown-display > svg {
    display: block;
    max-height: 75vmin;
}

#timer .countdown-circle {
    transition-property: stroke-dasharray;
}

#timer .countdown-text {
    text-anchor: middle;
}

#timer .countdown-display .reset-button {
    display: block;
    position: absolute;
    visibility: hidden;
    right: 1rem;
    bottom: 1rem;
    transform: scale(1.5);
    opacity: 0;
}

#timer .countdown-display .reset-button.active {
    visibility: visible;
    opacity: 1;
}

#timer .countdown-buttons {
    display: flex;
    flex-wrap: wrap;
}

#timer .countdown-buttons > * {
    flex-grow: 1;
    margin: 0.5rem;
}

#timer .countdown-buttons > .big {
    width: 100%;
    padding: 1rem;
}

#settings > :not(nav) {
    display: block;
    padding: 1rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
}
