* {
    transition-property: none;
    transition-duration: 0s !important;
}

body.ready, body.ready * {
    transition-duration: 0.2s !important;
}

html, body {
    min-height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

body {
    transition-property: background, color;
}

main {
    padding-top: 3rem;
}

main > section {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
}

main > section.active {
    opacity: 1;
    z-index: 1;
}

nav {
    display: flex;
    align-items: stretch;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

nav .icon {
    font-size: 1.5rem;
}

nav a {
    color: inherit;
}

nav > * {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    vertical-align: middle;
    border-bottom: 0.2rem solid transparent;
    transition-property: all;
    outline: none;
}

button.round {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

button, input, textarea, select {
    color: inherit;
    outline: none;
}

.checkable {
    display: block;
    padding: 0 !important;
}

.checkable::before {
    color: inherit !important;
    background-color: currentColor;
}

.checkable::before, .checkable::after {
    left: unset !important;
    right: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    vertical-align: text-top;
    stroke: currentColor;
    fill: currentColor;
}

.countdown-display, .countdown-buttons {
    max-width: 56rem;
    margin: 0 auto;
    padding: 1rem;
}

.countdown-display {
    position: relative;
}

.countdown-display > svg {
    display: block;
    max-height: 50vh;
    margin: 0 auto;
}

.countdown-circle {
    transition-property: stroke-dasharray;
}

.countdown-text {
    text-anchor: middle;
}

.countdown-display .reset-button {
    display: block;
    position: absolute;
    visibility: hidden;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
}

body.timer-active .countdown-display .reset-button {
    visibility: visible;
    opacity: 1;
}

.countdown-buttons {
    display: flex;
    flex-wrap: wrap;
}

.countdown-buttons > * {
    flex-grow: 1;
    margin: 0.5rem;
}

.countdown-buttons > .big {
    width: 100%;
    padding: 1rem;
}

#settings > :not(nav) {
    display: block;
    padding: 1rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
}
